<%- include('../Includes/head.ejs') %> 
</head>
<body>

<%- include('../Includes/navigation.ejs') %> 
<% if(errorMessage){ %> 
<div class="alert alert-danger">
  <div><%= errorMessage %> </div>
</div>
<% } %>

<form style="width: 500px;margin-left: 500px;margin-top: 50px;" action="/newPassword" method="POST">
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
 
    <button type="submit" class="btn btn-primary">Update Password </button>

  </form>
<%- include('../Includes/end.ejs') %> 
